{% extends 'base.html.twig' %}

{% block title %}Administrateur | Haiti sport network
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row g-2">

			<div class="col-md-12 col-xl-2 col-sm-12">
				{% include "admin/_include/nav.html.twig" %}
			</div>

			<div class="col-lg-8 col-sm-12 col-md-12  text-black mx-lg-3 mx-sm-0 mx-md-3">

				<div class="row bg-dark p-3 mb-2 rounded-3 justify-content-center">

					{% include "admin/club/_include/nav.html.twig" %}
				</div>
				<div class="row justify-content-between">

					{% for view in showClub %}

						<div class="card bg-secondary" style="width: 18rem;">
							<img src="..." class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{ view.nom }}</h5>
								<p class="card-text">{{ view.infos|slice(0, 200) }}</p>
								<a href="{{ path('app_admin_club_profil', { id: view.id }) }}" class="btn btn-dark">Voir le profil</a>
							</div>
						</div>

					{% endfor %}

				</div>

			</div>
		</div>
	</div>


{% endblock %}
