<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('app_admin_club')}}">Ajouter un club</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('app_admin_club_show')}}">Voir les club</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ path('app_admin_categorie') }}">Catégorie</a>
		</li>


	</ol>
</nav>
