{% extends 'base.html.twig' %}

{% block title %}Administrateur | Haiti sport network
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="col">

				<nav class="nav">
					<a class="nav-link active" href="#">Profil
					</a>
					<a class="nav-link active" href="#">Utilisateur</a>
					<a class="nav-link" href="#">Sportif</a>
					<a class="nav-link" href="#">Club</a>
					<a class="nav-link" href="#">Message</a>
				</nav>
			</div>

			<div class="col"></div>
		</div>

		<div>
		{% endblock %}
