html,
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;

    background: #0d0d0d;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.color-header {
    background-color: #274259 !important;
}

header {
    background-color: #274259 !important;
    width: 100%;

}

.container,
.container-fluid {
    width: 100%;
    overflow-x: hidden;
}

section {
    background-color: white;
}