{% extends 'base.html.twig' %}

{% block body %}
	<div class="container justify-content-md-center mt-5">
		<h1 class="p-5 display-6 text-bg-dark">Oups, page introuvable</h1>
		<p class="display-6">La page que tu cherches n'existe pas.
			<a href="{{ path('app_home') }}">Retour à l'accueil</a>
		</p>
	</div>
{% endblock %}
